@model Readdit.Models.MembersViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h2>Currently Reading</h2>
<table class="table">
    <thead>
        <tr>
            <th>Book Name</th>
            <th>Author</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.CurrentlyReadingBooks)
        {
            <tr>
                <td>@book.book_name</td>
                <td>@book.author_name</td>
                <td>@book.book_genre</td>
            </tr>
        }
    </tbody>
</table>

<h2>To Be Read</h2>
<table class="table">
    <thead>
        <tr>
            <th>Book Name</th>
            <th>Author</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.CurrentlyReadingBooks)
        {
            <tr>
                <td>@book.book_name</td>
                <td>@book.author_name</td>
                <td>@book.book_genre</td>
            </tr>
        }
    </tbody>

    <h2>Completed Reading</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Book Name</th>
                <th>Author</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.CurrentlyReadingBooks)
            {
                <tr>
                    <td>@book.book_name</td>
                    <td>@book.author_name</td>
                    <td>@book.book_genre</td>
                </tr>
            }
        </tbody>
